
.top {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
    text-align: left;
    background: rgb(50,134,84);
    height:130px;
}

.index-login {
    text-align: right;
}
.index-user {
    position: absolute;
    left: 90%;
    margin-top: 40px;
    font-size: 30px;
    color:white;
}
.topimg {
    width: 200px; 
    height: 120px;
    margin-left:15px;
    margin-top:10px;
}
.midbox {
    margin-top: 20px;
    width: 100%;
    height: 79.5vh;
    position: relative;
    background-image: url(../Image/ltree.jpg);
    background-size: cover;
}
.ntitle{
    text-align: left;
    display: block;
    width:1100px;
    padding-left: 20px;
    color:rgb(50,134,84);
}
.mid-leftbox {
    outline: 1px solid #9F9F9F;
    width: 250px;
    height: 100%;
    background-color: rgb(50,134,84);
    float: left;
}
.mid-leftbox1 {
    width: 235px;
    height: 515px;
    margin-left: 7px;
    margin-top:-7px;
    background-color: white;
}
.mid-leftbox ul li {
    font-size: 25px;
    text-align: left;
    margin-bottom: 6px;
    margin-top:15px;
}
.mid-right {
    position: absolute;
    top: 0px;
    left: 600px;
    width: 380px;
    height: 500px;
    
}

.noticebox {
    width: 1180px;
    height: 530px;
    background-color:none;
    border:none;
    right: 20%;
    display: inline-block;
    margin-left: -300px;
}

.board {
    position: absolute;
    outline: 1px solid #9F9F9F;
    width: 380px;
    height: 250px;
    background-color: #FFE400;
    left: 115%;
}
.notice-boardbox {
    display:inline-block;
    width: 950px;
    height: 400px;
    color:white;
    padding-top: 20px;
    margin-left: 100px;

}
.notice-board tr, td ,th {
    border:1px solid black;
    border-collapse:collapse;
    background-color: white;
    color:black;
    border-radius: 1px;
    height: 30px;
    text-align: center;
}
.boardbottom{
    vertical-align: bottom;
    margin-top: 15px;
}

.check {
    position: absolute;
    outline: 1px solid #9F9F9F;
    width: 380px;
    height: 250px;
    background-color: tomato;
    left: 115%;
    top: 55%;
}

.bottom {
    top: auto;
    background-color:lightgrey;
    vertical-align: bottom;
     
}
.container {
    height:71vh;
}

.notice-board-no {
    width: 80px;
    height: 40px;
    background-color: white;
    color:black;
}

.notice-board-title {
    width: 400px;
    background-color: white;
    color:black;
}
.notice-board-writer {
    width: 150px;
    background-color: white;
    color:black;
}
.notice-board-dateCreated {
    width: 200px;
    background-color: white;
    color:black;
}
.notice-board-views {
    width: 70px;
    background-color: white;
    color:black;
}
.notice_writebtn {
    float:right;
    margin-right: 20px;
    width: 70px;
    height: 30px;
    font-weight: bold;
}
.searchtext {
    margin-right: 5px;
}
.optionbox {
    height: 21px;
    margin-right: 5px;
    margin-left: 300px;
}
.searchbox {
    height: 28px;
    width: 60px;
    font-weight: bold;
}
.notice_writebtn,
.searchtext,
.optionbox,
.searchbox {
    border-radius: 3px;
    border: 1px solid lightgray;
}
.notice_writebtn:hover,
.searchbox:hover {
    background-color: gray;
    color:white;
}
/*공지사항 글쓰기 css*/
.wtitle,
.wtitlebox {
    display: inline-block;
    float:left;
}
.wtitle {
    border: 1px solid red;
    width: 100px;
    margin-left: 200px;
}
.wtitlebox {
    margin-left: 100px;
}
