
.loginbox {
    background: linear-gradient(rgb(50,134,84),rgb(77,89,147));
    width:100%;
    height: 80vh;
    margin:auto;
    padding-top:150px;
}
.idbox,
.passbox {
    width:330px;
    height:40px;
    display:block;
    padding-left:10px;
}

.passbox {
    margin-top:20px;
    margin-bottom: 10px;
}
.idbox,
.passbox,
.loginbtn,
.findbtn,
.passbtn{
    border-radius: 6px;
    border:none;
}
.loginbox1 {
    display:inline-block;
    text-align: center;
}
.loginlogo {
    display:inline-block;
    margin-bottom:10px;
}
.loginbtn {
    width:339px;
    height:50px;
    font-size:18px;
    font-weight: bold;
    color:gray;
    border:1px solid white;
    margin-top:40px;
    display: inline-block;
}
.loginbtn:hover,
.findbtn:hover,
.passbtn:hover {
    background-color: lightgray;
    color:white;
}
.idfind {
    margin-right:80px;
    margin-top:20px;
}
.idfind,
.passfind {
    font-size:13px;
}
a {
    color:inherit;
    text-decoration: none;
}
.findbox {
    margin-top:15px;
    color:white;
    font-size:15px;
}
.join {
    margin-top:10px;
    float:right;
    font-weight: bold;
}

/* 아이디 찾기 페이지 css */
.idfindbox,
.passfindbox {
    width:330px;
    height:40px;
    display:block;
    padding-left:10px;
    border-radius: 6px;
    border:none;
}
.findbtn,
.passbtn {
    width:339px;
    height:50px;
    font-size:18px;
    font-weight: bold;
    color:gray;
    border:1px solid white;
}
.loginpage {
    margin-top:10px;
    float:right;
}
.red {
    display:block;
    font-size:15px;
    font-weight: bold;
    margin-top:10px;
    text-align: left;
}
.red1 {
    display: block;
    font-size:15px;
    font-weight: bold;
    margin-top:10px;
    text-align: left;
}
