@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 *{
    font-family: 'GmarketSansLight';
}
.top {
    display: block;
    border: none;
    text-align: left;
    background-color:black;
    height:140px;
    border-bottom: 5px solid white;
}
.index-login {
    text-align: right;
}
.index-user {
    position: absolute;
    left: 90%;
    margin-top: 40px;
    font-size: 30px;
}
.mid-left {
    outline: none;
    position: absolute;
    top: 0px;
    width: 200px;
    height: 100vh;
    background-color:black;
    border-right: 5px solid white;
}
.left-ul2 {
    width: 185px;
    height: 730px;
    margin-left: 5px;
    background-color: white;
    border-radius: 4px;
    padding-top: 3px;
    margin-top:10px;
}
.left-ul1 {
    list-style: none;
    margin-left: -20px;
}
.mid-left ul li {
    font-size: 20px;
    margin-bottom: 35px;
}
.mid-left ul li {
    text-align: left;
}
.mid-right {
    position: absolute;
    top: 0px;
    left: 600px;
    width: 380px;
    height: 500px;
}

.notice {
    position: absolute;
    outline: 1px solid #9F9F9F;
    width: 600px;
    height: 530px;
    background-color:cadetblue;
    right: 20%;

}

.board {
    position: absolute;
    outline: 1px solid #9F9F9F;
    width: 380px;
    height: 250px;
    background-color: #FFE400;
    left: 115%;
}
.notice-board {
    border: 1px solid black;
    display:inline-block;
    width: 570px;

}

.check {
    position: absolute;
    outline: 1px solid #9F9F9F;
    width: 380px;
    height: 250px;
    background-color: tomato;
    left: 115%;
    top: 55%;
}

.bottom {
    top: auto;
    background-color: #5D5D5D;
    vertical-align: bottom;
     
}
.container {
    height:100vh;
}

.notice-board-no {
    width: 50px;
}

.notice-board-title {
    width: 300px;
}
.notice-board-writer {
    width: 70px;
}
.notice-board-dateCreated {
    width: 70px;
}
.notice-board-views {
    width: 70px;
}