@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 *{
    font-family: 'GmarketSansLight';
}
.top {
    display: block;
    border: none;
    text-align: left;
    background-color:white;
    height:53px;
    border-bottom: 3px solid black;
    width: 100%;
    z-index: 10;
    position:fixed;
    box-shadow: 1px 1px 6px 3px rgb(0 0 0 / 30%);
}
.fixed {
    height: 56px;
}
.index-login {
    text-align: right;
}
.index-user {
    position: absolute;
    left: 90%;
    margin-top: 40px;
    font-size: 30px;
}
.left-ul2 {
    margin-left: 5px;
    margin-top:14px;
    border-radius: 4px;
    display: inline-block;
    float: left;
}
.left-ul1 {
    list-style: none;
    font-weight: bold;
    color:black;
    display: inline-block;
    margin:0;
}
.left-ul1 li{
    display: inline-block;
    margin-right: 40px;
}
.bannerimg{
    width: 85px;
    height: 35px;
    margin-left: 30px;
    float: left;
    margin-right: 50px;
    margin-top:7px;
}
.Login-User{
    float: right;
    margin-right: 50px;
    width: 200px;
    text-align: center;
    margin-top: 15px;
}
.Userim{
    font-size:14px;
    color:black;
    margin-right: 20px;
    display: inline-block;
}
.bannerbox{
    /* height: 300px;
    background-image : url("../Image/banner1.jpg");
    margin-bottom: 10px;
    position:fixed;
    transform: opacity 1s; */
  opacity: 1; 
  bottom: 40px; 
  width: 100%; 
  height: 300px;
  border: 0 none;
  background: url("../Image/비옴4.gif");
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.06em;
  box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in;
  margin-bottom: 20px;
  background-position:center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:cover; /* Resize the background image to cover the entire container */
}
.bannerbox.active {
    z-index: 10; 
    opacity: 1; 
  }
.hi {
    font-family: "Cafe24Shiningstar";
    font-size: 100px;
    padding-top:20px;
  }
.clockbox {
    font-size: 20px;
}
.midbox {
    width: 100%;
    height: auto;
    /* position: relative; */
    background-color: lightgray;
    background-size: cover;
    padding-bottom: 30px;
}
.mid-right {
    display: inline-block;
}
.notice {
    outline: 1px solid #9F9F9F;
    width: 600px;
    height: 530px;
    background-color:cadetblue;
    right: 20%;
}

.board {
    outline: 1px solid #9F9F9F;
    width: 380px;
    height: 250px;
    background-color: #FFE400;
    left: 115%;
}
.notice-board {
    border: 1px solid black;
    display:inline-block;
    width: 570px;

}

.check {
    outline: 1px solid #9F9F9F;
    width: 380px;
    height: 250px;
    background-color: tomato;
    left: 115%;
    top: 55%;
}

.bottom {
    top: auto;
    background-color: #5D5D5D;
    vertical-align: bottom;
     
}
.container {
    height:100vh;
}

.notice-board-no {
    width: 50px;
}

.notice-board-title {
    width: 300px;
}
.notice-board-writer {
    width: 70px;
}
.notice-board-dateCreated {
    width: 70px;
}
.notice-board-views {
    width: 70px;
}